*{
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.itens-header{
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.icon img{
    max-width: 100%;
    width: 100px;
    height: auto;
}

.menu{
    float: left;
}