*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #e4e4e4;
}

.itens-header{
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
    .icon img{
        max-width: 100%;
        width: 100px;
        height: auto;
        margin-left: 50px;
    }
        .menu ul{
            margin: 0;
            padding: 0;
            list-style: none;
        }
            .menu ul li{
                display: inline-block;
                position: relative;
            }
                .menu ul li > a{
                    display: block;
                    font-family: sans-serif;
                    font-size: 12px;
                    letter-spacing: 0;
                    font-weight: 600;
                    color: #20212b;
                    padding: 0 15px;
                    height: 80px;
                    line-height: 80px;
                    text-decoration: none;
                    cursor: pointer;
                }
                    .button-menu button{
                        background-color: rgb(227, 227, 0);
                        border: 1px solid yellow;
                        border-radius: 10px;
                        width: 120px;
                        height: 50px;
                        margin-right: 50px;
                        cursor: pointer;
                    }

.section-slogan img{
    max-width: 100%;
    width: 1920px;
    height: 790px;
}

.primeira-informacao{
    width: 100%;
    background-color: #e4e4e4;
    height: 700px;
    padding-top: 30px;
}
    .primeira-informacao img{
        max-width: 100%;
        float: left;
        margin-left: 500px;
        height: 640px;
    }
        .texto p{
            font-size: 18px;
            margin-left: 980px;
            margin-right: 470px;
            white-space: pre-line;
            font-family: sans-serif;
        }

.section-estatisticas{
    background-color: rgb(244, 77, 77);
    font-family: sans-serif;
    color: white;
    height: 150px;
    width: 100%;
    font-size: 20px;
}
    .menu-estatisticas{
        padding: 40px 0 30px 550px;
        display: flex;
        text-align: center;
    }
        .primeira-estatistica  p{
            font-size: 15px;
            padding-right: 20px;
            line-height: 1;
        }
            .segunda-estatistica p{
                font-size: 15px;
                
                line-height: 1;
            }
                .terceira-estatistica p{
                    font-size: 15px;
                    padding-left: 20px;
                    line-height: 1;
                }

.icon-fim{
    background-color: black;
    width: 100%;
    padding: 10px;
}
    .icon-fim img{
        max-width: 100%;
        width: 60px;
        height: auto;
        margin-left: 49%;
        border: 2px solid white;
        border-radius: 100%;
        padding: 2px;
    }

.footer-informacoes{
    background-color: black;
    color: #b5b5b5;
    display: flex;
    height: 300px;
    font-family: sans-serif;
    width: 100%;
    font-size: 15px;
}

.footer-redes{
    margin-left: 100px;
    padding-top: 70px;
}
    .footer-redes ul{
        list-style: none;
        font-size: 18px;
    }
        .footer-redes button{
            background-color: black;
            border: 0;
            cursor: pointer;
            margin-top: 6px;
        }
            .footer-redes button img{
                max-width: 100%;
                width: 30px;
            }

.footer-contatos{
    margin-left: 50px;
    padding-top: 70px;
}
    .footer-contatos ul{
        list-style: none;
        font-size: 18px;
    }
        .footer-contatos img{
            max-width: 100%;
            width: 30px;
            margin-top: 6px;
        }
        .footer-contatos ul li{
            font-size: 15px;
        }

.footer-links{
    margin-left: 50px;
    padding-top: 70px;
}
    .footer-links ul{
        list-style: none;
        font-size: 18px;
    }
        .footer-links ul li{
            margin-top: 6px;
            cursor: pointer;
            font-size: 15px;
        }

.footer-texto{
    white-space: pre-line;
    margin-left: 650px;
    padding-top: 35px;
}