*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #e4e4e4;
}

.itens-header{
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
    .icon img{
        max-width: 100%;
        width: 100px;
        height: auto;
        margin-left: 450px;
    }
        .menu ul{
            margin: 0;
            padding: 0;
            list-style: none;
        }
            .menu ul li{
                display: inline-block;
                position: relative;
            }
                .menu ul li > a{
                    display: block;
                    font-size: 15px;
                    letter-spacing: 0;
                    font-weight: 600;
                    color: #20212b;
                    padding: 0 15px;
                    height: 80px;
                    line-height: 80px;
                    text-decoration: none;
                    cursor: pointer;
                }
                    .button-menu button{
                        font-size: 15px;
                        background-color: rgb(227, 227, 0);
                        border: 1px solid yellow;
                        border-radius: 10px;
                        width: 150px;
                        height: 55px;
                        margin-right: 450px;
                        cursor: pointer;
                    }

.section-slogan{
    height: 790px;
    overflow: hidden;
}
.section-slogan img{
    max-width: 100%;
    width:100%;
    height: 790px;
    object-fit: cover;
}
  
 .carousel {
  position: relative;
  width: 100%;
  height: 790px;
  overflow: hidden;
}

.carousel-inner {
  display: flex;
  transition: transform 1s ease;
}

.carousel-inner img {
  width: 100%;
  height: 790px;
  object-fit: cover;
}

.carousel-prev,
.carousel-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgb(227, 227, 0);
  border-radius: 100%;
  color: black;
  padding: 10px;
  cursor: pointer;
}

.carousel-prev {
  left: 10px;
}

.carousel-next {
  right: 10px;
}

.primeira-informacao{
    width: 100%;
    background-color: #e4e4e4;
    height: 700px;
    padding-top: 30px;
}
    .primeira-informacao img{
        max-width: 100%;
        float: left;
        margin-left: 500px;
        height: 640px;
    }
        .texto p{
            font-size: 18px;
            margin-left: 980px;
            margin-right: 470px;
            white-space: pre-line;
            font-family: sans-serif;
            color: #686868;
        }

.section-estatisticas{
    background-color: rgb(244, 77, 77);
    color: white;
    height: 150px;
    width: 100%;
    font-size: 20px;
}
    .menu-estatisticas{
        padding: 40px 0 30px 650px;
        display: flex;
        text-align: center;
    }
        .primeira-estatistica p{
            font-size: 15px;
            color: rgba(255, 255, 255, 0.759);
            padding-right: 20px;
            line-height: 1;
        }
            .segunda-estatistica p{
                font-size: 15px;
                color: rgba(255, 255, 255, 0.759);
                line-height: 1;
            }
                .terceira-estatistica p{
                    font-size: 15px;
                    color: rgba(255, 255, 255, 0.759);
                    padding-left: 20px;
                    line-height: 1;
                }

.section-certificado{
    background-color: rgb(68, 181, 68);
    color: white;
    display: flex;
    align-items: center;
    white-space: pre-line;
}
    .section-certificado img{
        max-width: 100%;
        width: 350px;
        margin-left: 550px;
    }

.footer-informacoes{
    background-color: #202020;
    display: flex;
    height: 300px;
    font-family: sans-serif;
    width: 100%;
    font-size: 15px;
}

.footer-redes{
    margin-left: 100px;
    padding-top: 70px;
}
    .footer-redes ul{
        list-style: none;
        font-size: 18px;
        color: white;
    }
        .footer-redes ul li{
            padding-top: 5px;
        }
            .footer-redes button{
                background-color: #202020;
                border: 0;
                cursor: pointer;
                margin-top: 6px;
            }
                .footer-redes button img{
                    max-width: 100%;
                    width: 30px;
                }

.footer-contatos{
    margin-left: 50px;
    padding-top: 70px;
    
}
    .footer-contatos ul{
        list-style: none;
        color: white;
        font-size: 18px;
        
    }
        .footer-contatos img{
            max-width: 100%;
            width: 30px;
            margin-top: 6px;
        }
        .footer-contatos ul li{
            font-size: 15px;
            color: #b5b5b5;
            display: flex;
            padding-top: 5px;
        }

.footer-links{
    margin-left: 50px;
    padding-top: 70px;
    width: 180px;
}
    .footer-links ul{
        list-style: none;
        color: white;
        font-size: 18px;
    }
        .footer-links ul li{
            color: #b5b5b5;
            margin-top: 6px;
            cursor: pointer;
            font-size: 15px;
            padding-top: 5px;
        }

.footer-texto{
    margin-left: auto;
    margin-right: 50px;
    padding-top: 35px;
    color: #b5b5b5;
    white-space: pre-line;   
}
    .footer-texto a{
        cursor: pointer;
    }

.icon-fim{
    background-color: #202020;
    width: 100%;
    padding: 10px;
}
    .icon-fim img{
        max-width: 100%;
        width: 60px;
        height: auto;
        margin-left: 49%;
        border: 2px solid white;
        border-radius: 100%;
        padding: 2px;
    }